body{ background-color: rgb(102, 156, 122);}

header{background-color: rgb(233, 183, 183);}
main { color: rgb(0, 0, 0);}



footer{ color: rgb(126, 0, 42);}

.INFO{color: rgb(197, 89, 107);
background-color: rgb(75, 60, 60);}


img{  height: 229px;px;
width:150px;
border-radius: 199px;
margin:20px;
    border: 2px solid rgb(225, 212, 212);
}









